body {
	background: #FAEBD7 url('../images/geometric-aqua.gif');
	color: #333;
	font-family: 'Quicksand', sans-serif;

}

a {
	text-decoration: none;
	color: #333;
}

a:hover { color: #66C7CC; }

header, nav, main, footer {
	width: 80%;
	margin: auto;
}


/* Header styles */
header { 
	background-color: #667E80;
	color: white;
	min-height: 100px;
	margin-top: 60px;
}

header h1 {
	padding: 40px 60px;
	font-size: 60px;
}

h2 {
	font-weight: bold;
	font-size: 30px;
	color: #66C7CC
}


/* Nav styles */
nav { 
	background-color: #66C7CC; 
}
nav ul { 	
	display: inline-flex;
	justify-content: left;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 60px;
}
nav li { padding: 15px 10px; }
nav a { 
	color: white;
}
nav a:hover { color: #CCFCFF; }


/* Main styles */
main { 
	background-color: #fff;
	display: grid;
	grid-template-columns: 70% 30%;
}

section {
	padding: 40px 70px;
}

section ul, aside ul {
	list-style-type: none;
	margin-top: 20px; 
	margin-left: 30px;
}

aside {
	padding: 40px 10px;
}



/* Footer styles */
footer { 
	background-color: #667E80;
	color: white;
	text-align: right;
	font-size: 12px;
 }
 footer p { padding: 20px 60px 20px 20px }
